@keyframes topAnimation {
  0% {
    top: 7px;
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    top: 16px;
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    top: 16px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes bottomAnimation {
  0% {
    top: 25px;
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    top: 16px;
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    top: 16px;
    transform: translate(-50%, -50%) rotate(135deg);
  }
}
@keyframes topAnimationClose {
  0% {
    top: 16px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    top: 16px;
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    top: 7px;
    transform: translate(-50%, -50%) rotate(0);
  }
}
@keyframes bottomAnimationClose {
  0% {
    top: 16px;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  50% {
    top: 16px;
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    top: 25px;
    transform: translate(-50%, -50%) rotate(0);
  }
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__toggler {
  position: relative;
  width: 45px;
  height: 40px;
  cursor: pointer;
  background: none;
  border: none;
}

.main-section-padding {
  padding: 2em 0.8em 0;
}

.section-padding {
  padding: 1.2em 0.8em;
}

.nav__toggler-bar {
  display: block;
  position: absolute;
  width: 70%;
  height: 2.5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--pureWhite);
}
.nav__toggler-bar--top {
  top: 7px;
}
.nav__toggler-bar--middle {
  top: 16px;
  transition: opacity 0.3s 0.1s;
}
.nav__toggler-bar--bottom {
  top: 25px;
}

.nav__toggler.open .nav__toggler-bar--top {
  animation: topAnimation 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) forwards;
}

.nav__toggler.open .nav__toggler-bar--bottom {
  animation: bottomAnimation 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) forwards;
}

.nav__toggler.open .nav__toggler-bar--middle {
  opacity: 0;
}

.nav__toggler.close .nav__toggler-bar--top {
  animation: topAnimationClose 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) both;
}

.nav__toggler.close .nav__toggler-bar--bottom {
  animation: bottomAnimationClose 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) both;
}

@media (576px <= width) {
  .section-padding {
    padding: 1.2em;
  }
  .main-section-padding {
    padding: 3.5em 1.2em 0;
  }
}
@media (700px <= width) {
  .nav__toggler {
    display: none;
  }
}
@media (992px <= width) {
  .section-padding {
    padding: 2em;
  }
  .main-section-padding {
    padding: 4.5em 2em 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root {
  --pureWhite: hsl(0, 0%, 100%);
  --pureBlack: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 85%);
  --headingsSize: clamp(2.7rem, 8vw, 4.4rem);
}

body {
  background-color: #333;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  inset-inline: 0;
  z-index: 500;
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  text-decoration: none;
}
.nav__logo-img {
  width: 140px;
  height: auto;
}
.nav__desktop {
  display: none;
}
.nav__mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  list-style: none;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: translateX(150%);
  background-color: var(--pureBlack);
  z-index: -1;
  transition: transform 0.6s 0.2s cubic-bezier(0, 1, 0.8, 1);
}
.nav__mobile.active {
  transform: translateX(0);
}
.nav__mobile-li {
  display: block;
  padding: 0.5em 0;
}
.nav__mobile-link {
  text-decoration: none;
  color: var(--pureWhite);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(2.6rem, 6vw, 3.2rem);
}

.header {
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  background-position: center;
}
.header__content {
  padding: 6em 0.8em 5em;
  color: var(--pureWhite);
}
.header__content-box {
  padding: 0.8em 0.7em;
  max-width: 620px;
  border: 2px solid var(--pureWhite);
}
.header__title {
  display: block;
  font-size: clamp(2.8rem, 9vw, 7rem);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.vr-section {
  background-color: var(--pureWhite);
}
.vr-section__img {
  width: 100%;
  height: auto;
}
.vr-section__text-box {
  padding: 1.5em 0.3em;
  text-align: center;
}
.vr-section__title {
  font-size: var(--headingsSize);
  text-transform: uppercase;
  margin-block-end: 1em;
}
.vr-section__text {
  font-size: clamp(1.3rem, 3.5vw, 1.6rem);
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  line-height: 170%;
}

.creations {
  background-color: var(--pureWhite);
}
.creations__title {
  margin-block-end: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--headingsSize);
}
.creations__img-box {
  position: relative;
  margin: 0.5em 0;
}
.creations__img {
  width: 100%;
  height: auto;
  filter: brightness(0.7);
}
.creations__img-title-box {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  color: var(--pureWhite);
  text-transform: uppercase;
  z-index: 100;
}
.creations__img-title {
  font-size: 2rem;
  display: block;
}
.creations__btn {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1.4em;
  width: 50%;
  max-width: 150px;
  letter-spacing: 2px;
  border: 2px solid var(--pureBlack);
  background: none;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.35rem;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.creations__btn:hover {
  color: var(--pureWhite);
  background-color: var(--pureBlack);
}
.creations__btn:active {
  transform: scale(0.95);
}

@media (576px <= width) {
  .nav__mobile-li {
    padding: 0.8em 0;
  }
  .header__content {
    padding: 6em 1.2em 4em;
  }
}
@media (700px <= width) {
  .nav__logo-img {
    width: 150px;
  }
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .nav__desktop-li {
    display: inline-block;
    padding: 0 0.5em;
  }
  .nav__desktop-li:last-child {
    padding-inline-end: 0;
  }
  .nav__desktop-link {
    text-decoration: none;
    color: var(--pureWhite);
    font-size: clamp(1.5rem, 1.8vw, 1.7rem);
    font-family: "Alata", sans-serif;
    font-weight: 400;
  }
  .header__title:nth-child(2), .header__title:last-child {
    display: inline;
  }
  .header__content-box {
    padding: 1.2em;
  }
  .creations__img-title {
    font-size: 2.4rem;
  }
}
@media (768px <= width) {
  .nav__desktop-link {
    display: block;
    position: relative;
  }
  .nav__desktop-link::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    bottom: -0.5em;
    background-color: var(--pureWhite);
    transform-origin: center;
    transition: transform 0.3s;
  }
  .nav__desktop-link:hover::before {
    transform: translate(-50%, 0) scale(1);
  }
  .creations .main-section-padding {
    padding: 5em 1.2em 0;
  }
  .creations__content {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    z-index: 100;
  }
  .creations__title {
    display: inline;
    text-align: left;
    order: -1;
  }
  .creations__btn {
    margin: 0;
    margin-inline-start: auto;
    order: -1;
  }
  .creations__gallery {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .creations__img-box {
    width: 23%;
  }
  .creations__img-title-box {
    bottom: 0.8em;
    left: 0.8em;
  }
  .creations__img-title {
    font-size: 2rem;
  }
}
@media (800px <= width) {
  .header {
    position: relative;
    background-image: url("../images/desktop/image-hero.jpg");
    z-index: 0;
  }
  .header::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
}
@media (900px <= width) {
  .vr-section__box {
    display: flex;
    position: relative;
    isolation: isolate;
  }
  .vr-section__img-box {
    width: 55%;
    z-index: -1;
  }
  .vr-section__text-box {
    position: relative;
    right: 3em;
    top: 4em;
    padding: 2em 0 2em 2em;
    text-align: left;
    width: 45%;
    z-index: 10;
    background-color: var(--pureWhite);
  }
  .vr-section__title {
    font-size: 3rem;
    margin-block-end: 0.5em;
  }
  .vr-section__text {
    font-size: 1.3rem;
  }
}
@media (992px <= width) {
  .header__content {
    padding: 7em 2em 5em;
  }
  .vr-section__title {
    font-size: 3.6rem;
  }
  .creations__img-title {
    font-size: 2.4rem;
  }
}
@media (1200px <= width) {
  .vr-section__text-box {
    top: 4.6em;
    right: 4em;
    padding: 3em 0 3em 3em;
  }
}/*# sourceMappingURL=style.css.map */