@use "./_animations" as *;

@mixin linkUnderline {
	content: "";
	position: absolute;
	height: 2px;
	left: 50%;
	transform: translateX(-50%) scale(0);
	background-color: var(--pureWhite);
	transform-origin: center;
	transition: transform 0.3s;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.nav__toggler {
	position: relative;
	width: 45px;
	height: 40px;
	cursor: pointer;
	background: none;
	border: none;
}
.main-section-padding {
	padding: 2em 0.8em 0;
}
.section-padding {
	padding: 0.5em 0.8em;
	transition: padding 0.3s;
}

.nav__toggler-bar {
	display: block;
	position: absolute;
	width: 70%;
	height: 2.5px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--pureWhite);

	&--top {
		top: 10px;
	}
	&--middle {
		top: 18px;
		transition: opacity 0.3s 0.1s;
	}
	&--bottom {
		top: 26px;
	}
}

.nav__toggler.open .nav__toggler-bar--top {
	animation: topAnimation 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) forwards;
}
.nav__toggler.open .nav__toggler-bar--bottom {
	animation: bottomAnimation 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) forwards;
}
.nav__toggler.open .nav__toggler-bar--middle {
	opacity: 0;
}
.nav__toggler.close .nav__toggler-bar--top {
	animation: topAnimationClose 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) both;
}
.nav__toggler.close .nav__toggler-bar--bottom {
	animation: bottomAnimationClose 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) both;
}
@media (576px <= width) {
	.section-padding {
		padding: 0.5em 1.2em;
	}
	.main-section-padding {
		padding: 3.5em 1.2em 0;
	}
}
@media (700px <= width) {
	.nav__toggler {
		display: none;
	}
}
@media (992px <= width) {
	.section-padding {
		padding: 2em;
	}
	.main-section-padding {
		padding: 4.5em 2em 0;
	}
}
