@use "./_components" as *;
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
:root {
	--pureWhite: hsl(0, 0%, 100%);
	--pureBlack: hsl(0, 0%, 0%);
	--gray: hsl(0, 0%, 85%);
}
body {
	background-color: #333;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	font-size: 3rem;
}

.nav {
	position: relative;
	z-index: 500;
	&__content {
		padding: 0.7em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 500;
	}
	&__logo {
		text-decoration: none;
	}
	&__logo-img {
		width: 140px;
		height: auto;
	}

	&__mobile {
		padding: 0.7em;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		transform: translateX(150%);
		background-color: var(--pureBlack);
		z-index: -1;
		transition: transform 0.6s 0.1s cubic-bezier(0, 1, 0.8, 1);

		&.active {
			transform: translateX(0);
		}
	}
	&__mobile-li {
		display: block;
		padding: 0.5em 0;
	}
	&__mobile-link {
		text-decoration: none;
		color: var(--pureWhite);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: clamp(2.6rem, 6vw, 3.2rem);
	}
}

@media (576px <= width) {
	.nav {
		&__mobile-li {
			padding: 0.8em 0;
		}
	}
}
